// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

p {
    font-size: 16px;
    line-height: 20px;
}

h1 {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    line-height: 26px;
}

.q-table th.sortable {
    font-size: 16px;
}